<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- TO DO - use ${k8s:podName:-}-->
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <property name="LOG_REQUEST_PATTERN" value="%5p [App=${appName},X-Correlation-Id=%X{traceId:-},Span-Id=%X{spanId:-},Image=${kubernetes.imageName:-},${kubernetes.imageId}]"/>
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_REQUEST_PATTERN:-%5p} ${PID:- } ---[%15.15t] %-40.40logger{39}: %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx})"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
       <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
       </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>

</configuration>

